<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'), style %> 
<body>
    <%- include('../partials/header') %>
   
   <main>
        <div>
            <h5>Entra en tu Cuenta</h5>
            <form action="/user/login" method="POST">
                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email" value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.email) { %>
                    <p style="color: red"> <%= errors.email.msg %></p>
                <% } %>  
                <label for="contraseña"></label>
                <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña" value="<%= locals.oldData ? oldData.password : null %>">
                <% if (locals.errors && errors.password) { %>
                    <p style="color: red"> <%= errors.password.msg %></p>
                <% } %>
                <% if(locals.userNotFound && userNotFound === true) { %> 
                    <p style="color: red;"> Datos incorrectos </p>
                <% } %> 

                <label>Recordame<input type="checkbox" name="recordame" id="recordame"></label>

                <button type="submit">Enviar</button>
            </form>
            <a href="/user/register">¿No estas registrado?</a>

            <form action="/user/newCategory" method="POST">
                <label for="newCategory"></label>
                <input type="text" name="newCategory" id="newCategory" placeholder="Crear nueva Categoria">
                <button type="submit">Crear</button>
            </form>
        </div>
        
   </main>
   
   <%- include('../partials/footer')  %>
</body>
</html>