<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'), style %> 
<body>
    <%- include('../partials/header') %>

   <main>
    <div>
        <h5>Edita tus datos</h5>
        <form action="/user/edit/<%= locals.user.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="form">
            <label for="first_name">Ingresa tu Nombre</label>
            <input type="text" name="first_name" id="first_name" placeholder="<%= locals.user.first_name  %> ">
            <ul id="nameErrors"></ul> 

            <label for="last_name">Ingresa tu Apellido</label>
            <input type="text" name="last_name" id="last_name" placeholder="<%= locals.user.last_name  %>">
            <ul id="lastNameErrors"></ul>

            <label for="email">Ingresa tu email</label>
            <input type="email" name="email" id="email" placeholder="<%= locals.user.email  %>">
            <% if (locals.emailNotAvailable && emailNotAvailable == true) { %>
                <p style="color: red;"> Ese email ya se encuentra registrado</p>
            <% } %>
            <ul id="emailErrors"></ul>

            <label for="contraseña">Ingresa tu contraseña</label>
            <input type="password" name="password" id="password" >
            <% if (locals.errors && errors.password) { %>
                <p style="color: red;"> <%= errors.password.msg %></p>
            <% } %>
             <ul id="passwordErrors"></ul>

            <label for="address">Ingresa tu Direccion</label>
            <input type="text" name="address" id="address" value="<%= locals.oldData ? oldData.address : null %>">
            <% if (locals.errors && errors.address) { %>
                <p style="color: red;"> <%= errors.address.msg %></p>
            <% } %> 
            <ul id="addressErrors"></ul>

            <label for="image">Elige tu Foto de Perfil</label>
            <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/gif, image/jpg">
            <ul id="imageErrors"></ul>

            <label>Categoria</label>
            <select name="category">
                <option hidden value=""></option>
                <option value="cliente">cliente</option>
                <option value="admin">admin</option>
                <option value="empleado">empleado</option>
                <option value="proveedores">proveedores</option>
            </select>
            <ul id="categoryErrors"></ul>
            
            <button type="submit">Enviar</button>
        </form>
        
    </div>
    
</main>

    <%- include('../partials/footer')  %>
    <script src="/js/registerForm.js"></script>
</body>
</html>