<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'), style%>
<body>
    <%- include('../partials/header') %>
    <section>
        <h2> Bienvenido a tu perfil <%= locals.user.firstName %>  </h2>
        <br>
        <img class="image" src="/images/users/<%= locals.user.image %>">
        <br>
        <h3>Tus datos </h3>
        <div class="firstName"> Nombre: <%= locals.user.firstName %></div>
        <div class="lastName">Apellido: <%= locals.user.lastName %></div>
        <div class="email"> Email: <%= locals.user.email %></div>
        <div class="category"> Categoría: <%= locals.user.category %> </div>
        <br>
        <a href="/user/edit" ><button type="sumit">Editar</button></a>
    </section>
    <%- include('../partials/footer') %> 
</body>
</html>