<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'), style %> 
<body>
    <%- include('../partials/header') %>

   <main>
    <div>
        <h5>Crea tu Cuenta</h5>
        <form action="/user/register" method="POST" enctype="multipart/form-data">
            <label for="firstName">Ingresa tu Nombre</label>
            <input type="text" name="firstName" id="firstName" value="<%= locals.oldData ? oldData.firstName : null %>">
            <% if (locals.errors && errors.firstName) { %>
                <p style="color: red"> <%= errors.firstName.msg %></p>
            <% } %> 

            <label for="lastName">Ingresa tu Apellido</label>
            <input type="text" name="lastName" id="lastName" value="<%= locals.oldData ? oldData.lastName : null %>">
            <% if (locals.errors && errors.lastName) { %>
                <p style="color: red;"> <%= errors.lastName.msg %></p>
            <% } %> 

            <label for="email">Ingresa tu email</label>
            <input type="email" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %>">
            <% if (locals.errors && errors.email) { %>
                <p style="color: red;"> <%= errors.email.msg %></p>
            <% } %> 
            <% if (locals.emailNotAvailable && emailNotAvailable == true) { %>
                <p style="color: red;"> Ese email ya se encuentra registrado</p>
            <% } %>

            <label for="contraseña">Ingresa tu contraseña</label>
            <input type="password" name="password" id="password" >
            <% if (locals.errors && errors.password) { %>
                <p style="color: red;"> <%= errors.password.msg %></p>
            <% } %> 

            <label for="contraseña">Repetí tu contraseña</label>
            <input type="password" name="confirmPassword" id="confirmPassword" >
            <% if (locals.errors && errors.confirmPassword) { %>
                <p style="color: red;"> <%= errors.confirmPassword.msg %></p>
            <% } %> 
         
            <label for="image">Elige tu Foto de Perfil</label>
            <input type="file" name="image" id="image" >
            <% if (locals.errors && errors.image) { %>
                <p style="color: red;"> <%= errors.image.msg %></p>
            <% } %> 

            <label>Categoria</label>
            <select name="category">
                <option hidden value=""></option>
                <option value="cliente">cliente</option>
                <option value="admin">admin</option>
                <option value="empleado">empleado</option>
                <option value="proveedores">proveedores</option>
            </select>
            <% if (locals.errors && errors.category) { %>
                <p style="color: red;"> <%= errors.category.msg %></p>
            <% } %> 
            
            <button type="submit">Enviar</button>
        </form>
        <a href="/user/login">¿Ya estas registrado?</a>
    </div>
    
</main>

    <%- include('../partials/footer')  %>
</body>
</html>