<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'), style %> 
<body>
    <%- include('../partials/header') %>
   
   <main>
        <div>
            <h5>Actualice tu producto</h5>
            <form id="productCreationForm" action="/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" value="<%= locals.oldData ? oldData.name : product.name %>" placeholder="Nombre del producto">
                <% if (locals.errors && errors.name) { %>
                    <p style="color: red"> <%= errors.name.msg %></p>
                <% } %>
                <ul id="nameErrors"></ul>


                <label for="description">Descripción</label>
                <textarea type="text" name="description" id="description" rows="5" placeholder="Descripción del producto"><%= locals.oldData ? oldData.description : product.description %></textarea>
                <% if (locals.errors && errors.description) { %>
                    <p style="color: red"> <%= errors.description.msg %></p>
                <% } %>
                <ul id="descriptionErrors"></ul>


                <label for="image">Selecciona la Imagen</label>
                <input type="file" name="image" id="image" value="<%= locals.oldData ? oldData.image : null %>" accept="image/png, image/jpeg">
                <% if (locals.errors && errors.image) { %>
                    <p style="color: red"> <%= errors.image.msg %></p>
                <% } %>
                <ul id="imageErrors"></ul>

                <label for="">Categoria</label>
                <select name="category" id="pCategory" placeholder="Categoría">
                    <option disabled selected>Selecciona la Categoría</option>
                    <% categories.forEach(cat=>{ %>
                        <option value="<%= cat.id %>" <%=locals.oldData && oldData.category == cat.id ? "selected" : product.product_category_id == cat.id ? "selected" : ""%>><%=cat.category_name %></option>
                    <% }) %>
                </select>
                <% if (locals.errors && errors.category) { %>
                    <p style="color: red"> <%= errors.category.msg %></p>
                <% } %>
                <ul id="categoryErrors"></ul>

                <section>
                    <article>
                        <label for="">IBU</label>
                        <input type="text" name="IBU" id="IBU" placeholder="Ingresa el IBU" value="<%= locals.oldData ? oldData.IBU : product.ibu %>">
                        <ul id="ibuErrors"></ul>
                    </article>
                    <article>
                        <label for="">ALC</label>
                        <input type="text" name="ALC" id="ALC" placeholder="Ingresa el ALC" value="<%= locals.oldData ? oldData.ALC : product.alc %>">
                        <ul id="alcErrors"></ul>
                    </article>
                </section>

                <label for="price">Precio</label>
                <input type="text" name="price" id="price" value="<%= locals.oldData ? oldData.price : product.price %>">
                <% if (locals.errors && errors.price) { %>
                    <p style="color: red"> <%= errors.price.msg %></p>
                <% } %>
                <ul id="priceErrors"></ul>


                <button type="submit">Modificar</button>

                
            </form>

                <a href="/products/create">¿Querés crear un producto?</a>
                
        </div>
        
   </main>
   
   <%- include('../partials/footer')  %>
   <script src="/js/productsForm.js"></script>
</body>
</html>