<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'), style %> 
<body>
    <%- include('../partials/header') %>
   
   <main>
        <div>
            <h5>Actualice tu producto</h5>
            <form action="/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <label for="name"></label>
                <input type="text" name="name" id="name" value="<%= product.name%>">

                <label for="description"></label>
                <textarea type="text" name="description" id="description" value="<%= product.description%>" rows="5"></textarea>

                <label for="image">Selecciona la Imagen</label>
                <input type="file" name="image" id="image" value="<%= product.image%>" accept="image/png, image/jpeg">

                <label for="category"></label>
                <select name="category" id=" category" selected="<%= product.category%>">
                    <option value="1">Cerveza</option>
                    <option value="merch">Merchandising</option>
                    <option value="comida">Comida</option>
                </select>

                <label for="IBU">(Solo para Cerveza)</label>
                <input type="text" name="IBU" id="IBU" value="<%= product.IBU%>">

                <label for="ALC">(Solo para Cerveza)</label>
                <input type="text" name="ALC" id="ALC" value="<%= product.ALC%>">
                
                <label for="price"></label>
                <input type="text" name="price" id="price" value="<%= product.price%>">

                <button type="submit">Modificar</button>

                
            </form>

                <a href="/products/create">¿Querés crear un producto?</a>
                
        </div>
        
   </main>
   
   <%- include('../partials/footer')  %>
</body>
</html>