<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'), style %>
<body>
    <%- include('../partials/header') %>
<main>
    <section>
        <div class="details-imgarticle">
          <article class="product-detail">
            
            <div class="details-descripcion">
               <h4><%=showProduct.name  %> </h4>
               <p>ALC <%=showProduct.alc %> / IBU <%= showProduct.ibu %></p>
            </div>
             <img src="/images/products/<%=showProduct.image %>" alt="<%=showProduct.name  %>" width="100%">
             <p>$ <%=showProduct.price %></p>
             <div class="details-unidades-carrito">
             <div>
                <form action="/cantidad" method="GET">
                    <label>Unidades</label>
                    <select name="envase">
                        <option value="Growler">Growler</option>
                        <option value="Botella">Botella</option>
                    </select>
                    <select name="unidades">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    </select>
                   </form>    
             </div>
             <div>
                <i class="fas fa-shopping-cart"></i>
                <a href="products/cart"><input type="submit" value="Agregar al carrito"></a>
             </div>

             <% if(locals.user.category_id == "admin") {%>
                <form action="/products/update/<%= showProduct.id%>" method="GET" >
                    <button type="submit" class="action-button delete">MODIFICAR</button>
                </form>
                <form action="/products/delete/<%= showProduct.id%>?_method=DELETE" method="POST" >
                    <button type="submit" class="action-button delete">ELIMINAR</button>
                </form>
            <% } %>
            
             </div>
             <p><%=showProduct.description %></p>
          </article>
        </div> 
    </section>
</main>
    <%- include('../partials/footer')  %> 
</body>
</html>